/* website/static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6b4caf;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgb(245, 241, 241);
    color: #333;
    text-align: center;
    padding: 10px;
}
form {
    background-color: rgb(245, 241, 241);
    color: #333;
    text-align: center;
    padding: 10px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Full viewport height */
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh
}